<!DOCTYPE html>

<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <!-- Banner -->
        <!-- Note: The "styleN" class below should match that of the header element. -->
        <section id="banner" class="style2">
            <div class="inner">
                <header class="major">
                    <h1>{{ page.title }}</h1>
                </header>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one" class="spotlights">
                {% for subpage in site.pages %}
                {% if subpage.type == page.group %}
                <section>
                    <a href="{{subpage.url}}" class="image">
                        <img src="{{ subpage.image }}" alt="" data-position="center center" />
                    </a>
                    <div class="content">
                        <div class="inner">
                            <header class="major">
                                <h3>{{ subpage.title }}</h3>
                            </header>
                            <p>{{ subpage.description }}</p>
                            <ul class="actions">
                                <li><a href="{{ subpage.url }}" class="button">Learn more about {{subpage.title}}</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                {% endif %}
                {% endfor %}
            </section>
        </div>
       
    {% include footer.html %}

</body>

</html>
